body {
  background-image: url("images/background.png");
  background-position: center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  background-repeat: no-repeat;
  height: 680px;
}
.gameName {
  font-family: 'Bungee', sans-serif;
  font-size: 50px;
  text-align: center;
  padding:0;
  margin-top: 20px;
}
.nav {
  margin: -43px 0 30px 370px;
  text-align: center;

}
.nav-li {
  display:block;
  float:left;
  /*border: solid 2px #000000;*/
  background-color: #000000;
  padding:20px 30px;


}
a {
  color: #ffffff;
  text-decoration: none;
  /*padding-right: 20px;*/
}
a:hover {
  color: yellow;
}

#score1,  #score2 {
  background-color: yellow;
  font-size: 30px;
  padding:11px 30px;
}

clearfix .nav::before, .nav::after {
    content:"";
    display:table;
}
.nav::after {
    clear:both;
}
.nav {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.modal {
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.close {
  display:none;
}

.modal-content {
    margin: 10% 43%; /* 15% from the top and centered */
    padding: 5px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.wellDone, .tryAgain{
  width:auto;
  height:180px;
}

.green, .veggie {
  width:200px;
  height:300px;
  /*float:left;*/
}

.other {
  width:200px;
  height:300px;
  /*float:left;*/
}
#barrel2 {
  padding-right: 30px;
}

#barrel3 {
  padding-left: 30px;
}
.barrel-section{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
#container {
  height: 250px;
  width:900px;
  text-align: center;
  margin:195px auto 0 auto;
}

/*#wrapper {
  height:250px;
  width:1000px;
  margin:100px 300px 0 300px;
}*/
/*h4 {
  display:inline-block;
}*/


clearfix #container::before, #container::after {
    content:"";
    display:table;
}
#container::after {
    clear:both;
}
#container {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

#startGameBtn {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #f2ed5a;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.regularImage {
  height:150px;
  width:auto;
  border:none;
  margin:-20px 650px 400px 650px;
}
.droppedImageSize{
  height:50px;
  width:auto;
  border:none;
}
