body {
  background-image: url("images/background.png");
  background-position: center -15px;
  background-size:cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}

.gameName {
  font-family: 'Bungee', sans-serif;
  font-size: 50px;
  text-align: center;
  padding:0;
  margin-top: 20px;
}
.nav {
  margin: -40px 0 30px 340px;
  text-align: center;

}

.nav-li {
  display:block;
  float:left;
  /*border: solid 2px #000000;*/
  background-color: #000000;
  padding:20px 30px;


}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: yellow;
}

#instructions {
  display:none;
  padding:20px;
  width:410px;
  margin:-30px auto;
  font-size: 25px;
  background-color: yellow;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}
#score1,  #score2 {
  background-color: yellow;
  font-size: 30px;
  padding:11px 30px;
}

clearfix .nav::before, .nav::after {
    content:"";
    display:table;
}
.nav::after {
    clear:both;
}
.nav {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

#imageWrapper {
  width:10px;
  height:10px;
}
.modal {
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.close {
  display:none;
}

.modal-content {
    margin: 10% 43%; /* 15% from the top and centered */
    padding: 5px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.wellDone, .tryAgain{
  width:auto;
  height:180px;
}

.green, .veggie {
  width:200px;
  height:300px;
  /*float:left;*/
}

.other {
  width:200px;
  height:300px;
  /*float:left;*/
}
#barrel2 {
  padding-right: 30px;
}

#barrel3 {
  padding-left: 30px;
}
.barrel-section{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
#container {
  height: 250px;
  width:900px;
  text-align: center;
  margin:198px auto 0 auto;
}

clearfix #container::before, #container::after {
    content:"";
    display:table;
}
#container::after {
    clear:both;
}
#container {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

#playBtn, #startGameBtn {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #f2ed5a;
  font-family: 'Bungee', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.regularImage {
  height:150px;
  width:auto;
  border:none;
  margin:-20px 650px 50px 650px;
}
.droppedImageSize{
  height:50px;
  width:auto;
  border:none;
}

#speechModal{
  margin-left:520px;
  margin-top:-30px;
}
.bubble {
  width:250px;
}
#tellWhoStarts {
  font-size: 28px;
  margin-left:45px;
  margin-top:-80px;
}

.speechModalContent {
  margin-top:46%;
}
